@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";

@include font-face('Gotham', 'fonts/Gotham-Medium');
@include font-face('Gotham Black', 'fonts/Gotham-Black');

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";


html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
}




header {
    z-index: 999;
    position: fixed;
    color: #FFF;
    top: 0px;
    width: 100%;
    height: 50px; 
    background-color: #FFCB05;
    .logo {
        float: left;
        margin-top: 9px;
        width:172px;
        height:33px;
        @include retina-image("img/logo-normal", 172px 34px);
    }
    .slogan {
        padding-top: 9px;
        text-align: right;
        float: right;
        font-family: 'Gotham Black';
        margin-top: 0.75em;
        font-size: 0.85em;
        letter-spacing:-1px;
        color:#000000;
        text-transform: uppercase;
    }
}


#contenidos{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}





footer {
    z-index: 999;
    position: fixed;
    color: #FFF;
    bottom: 0px;
    width: 100%;
    height: 50px; 
    background-color: #333333;

    .modernizacion {
        padding-top: 20px;
        text-align: left; 
    }
    .gobierno {
        padding-top: 20px;
        text-align: right;
    }


}

